node_modules/
dist/
.env
.env.*
.DS_Store
.vscode/
/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.idea/
/.cache/
public/build/node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
